/* imgType */

#imageType {
    width: 100%;
}

.image__inner {
    display: flex;
    justify-content: space-between;
}
.image {
    width: 49%;
    height: 370px;
    padding: 200px 30px 30px 30px;
    box-sizing: border-box;
    color: #fff;
}
.image.img1 {
    background: url(../../img/img_type_bg01.jpg) no-repeat center -80px / cover;
    background-color: #202020;
    
    
}
.image.img2 {
    background: url(../../img/img_type_bg02.jpg) no-repeat center -80px / cover;
    background-color: #42b683;
}
.image__title {
    font-size: 32px;
    margin-bottom: 10px;
}
.image__desc {
    margin-bottom: 10px;
    line-height: 1.4;
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.image__btn {
    display: inline-block;
    color: #fff;
    background-color: #666;
    padding: 10px 20px;
    transition: all 0.3s;
}
.image__btn span {
    position: relative;
}
.image__btn:hover {
    padding-right: 30px;
    padding-left: 30px;
}

.image__btn.green{
    background-color: #216547;
}

.test {
    height: 500px;

}


@media(max-width:1220px) {
    .image__inner{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
@media(max-width:768px) {
    .image__inner {
        display: block;
    }
    .image__inner .image{
        width: 100%;
        margin-bottom: 20px;
    }
}