.text__wrap {
}
.text__wrap > p {
    text-decoration: underline;
    text-underline-position : under;
    margin-bottom: 20px;
}
.text__wrap h2 {
    margin-bottom: 70px;
}

.text__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    
}

.text__box {
    width: 32%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all 0.3s;
}
.text__box:hover {
    background-color: #ccc;
    
}


.text__box .title{
    font-size: 24px;
    line-height: 1;
    padding-top: 80px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.text__box .title::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.text__box.box1 .title::before{
    background: url(../../img/text_icon.svg);
    background-position: 0 0;
}
.text__box.box2 .title::before{
    background: url(../../img/text_icon.svg);
    background-position: -60px 0;
}
.text__box.box3 .title::before{
    background: url(../../img/text_icon.svg);
    background-position: -120px 0;
}
.text__box.box4 .title::before{
    background: url(../../img/text_icon.svg);
    background-position: -180px 0;
}
.text__box.box5 .title::before{
    background: url(../../img/text_icon.svg);
    background-position: -240px 0;
}
.text__box.box6 .title::before{
    background: url(../../img/text_icon.svg);
    background-position: -300px 0;
}


.text__box .desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #666;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

}

.text__box .btn{
    display: inline-block;
    line-height: 1;
    color: #666;
}

.text__box:hover .btn{
    text-decoration: underline;
    text-underline-position: under;

}